<p class="pt-4 fs-5">Hecho por: Diego Alejandro Corredor Rojas-202114825 / Freddy Esteban Ojeda Cogua-201911519 </p>
<p class="fs-5">Hecho para: Electiva II - Desarrollo web. Ing. Jairo Riaño</p>
<p class="fs-5">UPTC Seccional Sogamoso - 2023 &copy;</p>